
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Pyhton, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check email</title>
    <!-- custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Check Your Email</h1>
            <div class="mute-paragraph text-center">
                We have sent you a password recover instructions to your email.
            </div>
        </div>
    </div>
    <div class="redirect">
        Did not receive the email? Check your spam filter, or &nbsp;
        <a href="forgot-password.html" class="link">try another email address</a>
    </div>
    <!-- custom JS -->
    <script src="../static/javascripts/scripts.js" defer></script>
</body>
</html>
