<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Pyhton, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Reset Password</h1>
            <div class="mute-paragraph">
                Enter the email address associated with your account and we'll send you an email with instructions to reset your password.
            </div>
            <form method="post" action="forgot_password" id="password-form" class="login-form spacer">
                {% csrf_token %}
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/envelope.svg" alt="Email icon">
                    <label for="email" form="login-form">Your email<span class="red">*</span>:</label>
                    {{ form.email }}
                </div>
                <div id="error" class="error">{{error}}</div>
                <input type="submit" class="submit" value="Send Instructions">
            </form>
        </div>
    </div>
</body>
</html>
