<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!--script src="../static/javascripts/scripts.js" defer></script-->
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Welcome to Login</h1>
            <!--div class="social-login">
                <button class="social-btn">
                    <img class="icon" src="icons/gmail.svg" alt="gmail icon">
                    Gmail
                </button>
                <button class="social-btn">
                    <img class="icon" src="icons/facebook.svg" alt="gmail icon">
                    Facebook
                </button>
            </div>
            <div class="text-center line form-divider">or</div-->
            <form method="post" action="." id="login-form" class="login-form spacer">
                {% csrf_token %}
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/envelope.png" alt="Email icon">
                    <label for="email" form="login-form">Your email:</label>
                    {{ form.email }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password1" form="login-form">Your password:</label>
                    {{ form.password1 }}
                </div>
                <input type="submit" class="submit" value="Login">
            </form>
        </div>
    </div>

    <div class="redirect">
        Don't have an account?&nbsp;<a href='register' class="link">Signup</a>
        <br><br>
        <a href="forgot-password.html" class="link">Forgot password?</a>
    </div>
</body>
</html>
