<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Pyhton, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!--script src="../static/javascripts/scripts.js" defer></script-->
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Welcome to Login</h1>
            <form method="post" action="." id="login-form" class="login-form spacer">
                {% csrf_token %}
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/envelope.svg" alt="Email icon">
                    <label for="email" form="login-form">Your email:</label>
                    {{ form.email }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password1" form="login-form">Your password:</label>
                    {{ form.password1 }}
                </div>
                <input type="submit" class="submit" value="Login">
            </form>
            <div class="redirect">
                <br>
                Don't have an account?&nbsp;<a href='register' class="link">Sign up</a>
                <br>
                <a href="forgot_password" class="link">Forgot password?</a>
            </div>
        </div>
    </div>
</body>
</html>
