<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Pyhton, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <!-- custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Create a new password</h1>
            <form method="post" action="reset_password" id="password-form" class="spacer">
                {% csrf_token %}
                <p>You are about to change the password for: <b>{{email}}</b></p>
                <input type="hidden" id="email" name="email" value="{{ email }}">
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password1" form="password-form">Your new password<span class="red">*</span>:</label>
                    {{ form.password1 }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password2" form="password-form">Confirm your new password<span class="red">*</span>:</label>
                    {{ form.password2 }}
                </div>
                <div id="error" class="error">{{error}}</div>
                <input type="submit" class="submit" value="Password">
            </form>
        </div>
    </div>
    <!-- custom JS -->
    <script src="../static/javascripts/scripts.js" defer></script>
</body>
</html>
