<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/javascripts/scripts.js" defer></script>
</head>
<body>
    <!--messages-->
    <div class="messages">
        <img class="message-icon" src="../static/images/sign.svg" alt="error">
        <div class="message">
            <h3 class="message-title title">Error</h3>
            <p class="message-paragraph">Something went wrong!</p>
        </div>
        <span class="message-close error">x</span>
    </div>
    <!--end messages-->

    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Welcome to registration</h1>
            <!--div class="social-login">
                <button class="social-btn">
                    <img class="icon" src="../static/images/gmail.svg" alt="gmail icon">
                    Gmail
                </button>
                <button class="social-btn">
                    <img class="icon" src="../static/images/facebook.svg" alt="facebook icon">
                    Facebook
                </button>
            </div>
            <div class="text-center line form-divider">or</div-->
            <form method="post" action="register" id="signup-form" class="login-form spacer">
                {% csrf_token %}
                <!--div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <img class="icon input-icon" src="../static/images/profile-user.svg" alt="User icon">
                      </span>
                    </div>
                    {{form.first_name}}
                </div-->
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/profile-user.svg" alt="User icon">
                    <label for="first_name" form="signup-form">Your first name:</label>
                    {{form.first_name}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/profile-user.svg" alt="User icon">
                    <label for="last_name" form="signup-form">Your last name:</label>
                    {{form.last_name}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/envelope.svg" alt="Email icon">
                    <label for="email" form="signup-form">Your email:</label>
                    {{ form.email }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password1" form="signup-form">Your password:</label>
                    {{ form.password1 }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password2" form="signup-form" class="label">Confirm your password:</label>
                    {{ form.password2 }}
                </div>
                <input type="submit" class="submit" value="Signup">
            </form>
        </div>
    </div>
    <div class="redirect">
        Already have an account?&nbsp;<a href='/users' class="link">Login</a>
        <br><br>
        <a href="./forgot-password.html" class="link">Forgot password?</a>
    </div>
</body>
</html>
