<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Pyhton, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <!-- custom CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="container" class="container">
        <div class="card center spacer margin-top">
            <h1 class="title text-center margin-top">Welcome to registration</h1>
            <form method="post" action="register" id="signup-form" class="login-form spacer">
                {% csrf_token %}
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/profile-user.svg" alt="User icon">
                    <label for="first_name" form="signup-form">Your first name<span class="red">*</span>:</label>
                    {{form.first_name}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/profile-user.svg" alt="User icon">
                    <label for="last_name" form="signup-form">Your last name<span class="red">*</span>:</label>
                    {{form.last_name}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/envelope.svg" alt="Email icon">
                    <label for="email" form="signup-form">Your email<span class="red">*</span>:</label>
                    {{ form.email }}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password1" form="signup-form">Your password<span class="red">*</span>:</label>
                    {{ form.password1 }}
                </div>
                <span class="small"><img class="info" src="../static/images/info.svg" alt="Password information">The password mininum length is 8 characters and maximun is 22 characters</span>
                <div class="input-group">
                    <img class="icon input-icon" src="../static/images/key.svg" alt="Password icon">
                    <label for="password2" form="signup-form" class="label">Confirm your password<span class="red">*</span>:</label>
                    {{ form.password2 }}
                </div>
                <div class="input-group">
                    <span class="justify-text">
                        <label for="accept-policy" form="signup-form"></label>
                        <input type="checkbox" id="accept-policy" name="accept-policy">
                            I have read and accept the 
                            <a href='privacy-policy' class="link" target="_blank">Privacy Policy</a>
                            and the
                            <a href='legal-notice' class="link" target="_blank">Legal Notice<span class="red">*</span></a>                           
                    </span>                 
                </div>
                <div class="input-group">
                    <label for="accept-terms" form="signup-form">
                        <input type="checkbox" id="accept-terms" name="accept-terms">
                        I agree to receive electronic communications<span class="red">*</span>
                    </label>
                </div>
                <div id="error" class="error">{{error}}</div>
                <input id="summitButton" type="submit" class="submit" value="Signup">
            </form>
            <div class="redirect">
                <br>
                Already have an account?&nbsp;<a href='/users' class="link">Login</a>
                <br>
                <a href="forgot_password" class="link">Forgot password?</a>
            </div>
        </div>
    </div>
    <!-- custom JS -->
    <script src="../static/javascripts/scripts.js" defer></script>
</body>
</html>
