<!DOCTYPE html>
<html>
  <head>
    <metacharset="UTF-8">
    <meta name="description" content="Parasites application">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Django">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Policy</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/cookies.css">
  </head>
  <body>
    <h1>Cookie Policy</h1>
    <h2>General information</h2>
    <p>Due to the entry into force of the aforementioned modification of the "Law on Services of the Information Society" (LSSICE) established by Royal Decree 13/2012, it is mandatory to obtain the express consent of the user of all web pages that use dispensable cookies, before it navigates through them.</p>

    <h3>What are cookies?</h3>
    <p>Cookies and other similar technologies such as local shared objects, flash cookies or pixels, are tools used by Web servers to store and retrieve information about their visitors, as well as to offer a correct functioning of the site.</p >

    <p>By using these devices, the Web server is allowed to remember some data concerning the user, such as their preferences for viewing the pages of that server, name and password, products that interest them the most, etc.</p>

    <h3>Cookies affected by the regulations and excepted cookies</h3>
    <p>According to the EU directive, the cookies that require the informed consent of the user are analytical cookies and advertising and affiliation cookies, excepting those of a technical nature and those necessary for the operation of the website or the provision of services expressly requested by the user.</p>

    <h3>Cookie Statement</h3>
    <p>This website only uses <b>technical and necessary cookies</b> (those essential for the proper functioning of the website). Specifically:</p>

    <table>
      <thead>
        <tr>
          <th><b>Cookie</b></th><th><b>Owner</b></th><th><b>Duration</b></th><th><b >Purpose</b></th><th><b>Type</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i>sessionid</i></td><td><i>www.parasites.app</i></td><td><i>24 hours</i></td> <td><i>Necessary for the website to work</i></td><td><i>Technical</i></td>
        </tr>
        <tr>
          <td><i>csrftoken</i></td><td><i>www.parasites.app</i></td><td><i>1 hour</i></td> <td><i>Necessary for the website to work</i></td><td><i>Technical</i></td>
        </tr>
      </tbody>
    </table>
    </div>

    <h2>Revocation of consent to install Cookies</h2>
    <p>The User can disable, reject and eliminate cookies -totally or partially- installed on their device by configuring their browser (among which are, for example, Chrome, Firefox, Safari, Explorer; see next section) . In the event that the use of cookies is disabled -totally or partially- you may continue to use the Website, although the use of some of its features may be limited.</p>

    <h3>How to delete Cookies from the browser.</h3>
    <ul>
      <li><a href="https://support.google.com/chrome/answer/95647?hl=en&co=GENIE.Platform%3DDesktop" target="_blank">Chrome</a>
      <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a>
      <li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox" target="_blank">Firefox</a>
      <li><a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" target="_blank">Safari</a>
      <li><a href="https://www.opera.com/help/tutorials/security/privacy/" target="_blank">Opera</a>
    </ul>
    If your browser is not listed, consult the documentation of the browser you have installed to block, eliminate or allow the download of Cookies
  </body>
</html>
