Django==4.2.1
mysqlclient==2.2.0
matplotlib==3.7.1
Pillow==9.5.0
python-dotenv==1.0.0
six==1.16.0
scikit_learn==1.2.1
scipy==1.10.0
numpy==1.23.5
tensorflow
tensorflow-serving-api
celery==5.2.7
redis==4.5.5
grpcio==1.56.0
