.buttons{
    text-align: right;
}

.marginBotton{
    margin-bottom: 15px;
}

.imageCentered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.margin{
    margin-top:15px;
    margin-bottom: 15px;
}

.hidden{
    display: none;
}

#cropButton, #sendButton, #reportButton{
    margin-right: 30px;
}

#sendButton{
    margin-bottom: 15px;
}

#gameImage {
    display: block;
    max-width: 100%;
}