.marginBotton{
    margin-bottom: 15px;
}

.imageCentered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.margin{
    margin-top:15px;
    margin-bottom: 15px;
}

#gameImage {
    display: block;
    max-width: 100%;
}
