/*#myCanvas{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    display: block;
}*/

#gameImage {
    display: block;
    max-width: 100%;
  }