<!DOCTYPE html>
<html>
  <head>
    <title>Parasites game</title>
    <!-- cropper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- custom css-->
    <link rel="stylesheet" href="../static/css/crop.css">
  </head>
  <body>
    <h1>Identify the parasites</h1>
    <!-- Change width and height according to image size (zoom?) -->
    
    <!--<canvas id="myCanvas" width="918" height="1632">
      Your browser does not support the HTML canvas tag.
    </canvas>
    -->

    <div id="imageContainer">
      <img id="gameImage" src={{image.file.url}} width="229.5px" height="408px">
    </div>
    <button id="cropButton" type="submit">Found!</button>

    <script
      type="text/javascript"
      src="../static/javascripts/crop.js"
    ></script>
  </body>
</html>
